/*General*/
html {
    height: 100%;   
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#footer {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
    left: 0;
}

h2 {
    font-size: 26px;
    font-weight: 700
}

.breadcrumbs {
    margin-top: 0 !important;
}

    .breadcrumbs h2 {
        font-size: 26px;
        font-weight: 400;
        margin: 0;
    }

#breadcrumb-link {
    background-color: white;
    padding-bottom: 0;
    border-top: 1px;
    border-color: #f1f6fe;
    margin-top: 1px !important
}

a.active {
    color: #106eea !important;
}

a.btn-danger {
    color: #fff !important;
}

table.dataTable thead {
    font-weight: 700;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

table.dataTable tbody td {
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

td a:hover {
    text-decoration: underline;
}

div.dataTables_info {
    font-size: 10px;
    line-height: 28px;
    font-family: "Open Sans", sans-serif;
}

.form-btns a.btn, .form-btns input.btn {
    float: right;
    margin: 0.5em;
}


.customMain p, .customMain option, .customMain select, .customMain input, .btn-primary, a.btn-danger {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0;
}

.customMain label {
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 15px;
}



/*Job Board*/
div.panel-primary {
    border-top-width: 0px;
}

.panel-body {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.panel-heading {
    font-weight: 300;
    margin-bottom: 0px;
    font-size: 24px;
    padding: 11px 15px 10px 15px;
}

div.panel-heading a {
    color: white !important;
}

    div.panel-heading a:hover {
        text-decoration: underline;
    }


.panel-location {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 14px;
}

.boardCrud {
    float: right;
    font-weight: 200;
    font-size: 16px;
    padding-top: 10px;
}

#search-bar {
    max-width: 490px;
    font-size: 1.25rem;
    margin: 0;
    border-radius: 6px 0 0 6px;
    font-family: inherit;
}

.search-btn {
    border-radius: 0 6px 6px 0;
    padding-top: 2px;
    padding-bottom: 2px;
}

.applied-btn {
    cursor: default !important;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}

    .applied-btn:active, .applied-btn:focus, .applied-btn:hover {
        cursor: default !important;
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
        box-shadow: none;
    }


/*To get the button and search bar on the job board to be horizontal*/
.search-container {
    display: flex;
}

/*.bottom-link {
    padding-bottom: 20px;
}*/

div.portfolio-description h2 {
    margin-bottom: 10px;
}

h5.card-title {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
}

p.card-text {
    margin-bottom: .75rem;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}

.card.text-center {
    min-height: 273px;
}

select.form-control, input.form-control {
    margin: 5px 0;
}

.search-container select {
    margin: 0;
}

textarea.form-control {
    padding-bottom: 75px;
}


/*UserDetails - Details*/
li.list-group-item {
    border-bottom-width: 2px !important;
    font-size: 11px;
}

.openOpps {
    color: #106eea;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
}

.employeeDetails {
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    width: 22rem;
}

.right-card {
    padding-left: 35px;
}

    .right-card select, .right-card input {
        margin-bottom: 1em;
    }

.resume-card {
    text-align: center;
    width: max-content;
    padding-left: 35px;
}

    .resume-card h2 {
        padding: 10px;
    }

    .resume-card input[type="file"], .employeeDetails input[type="file"] {
        display: -webkit-inline-box;
        padding-right: inherit;
    }

/*Locations*/
.location-img-card {
    float: right;
    width: 650px;
    height: 350px;
}

.location-card {
    width: -webkit-fill-available;
    margin-bottom: 20px;
}

/*Contact Form*/

.contact-form input, .contact-form textarea {
    max-width: none;
    font-size: 15px;
}

/*Login Form*/
#inner-index-login {
    padding: 2em;
    margin-left: 30%;
    background: ghostwhite;
   
}

.login-hero {
    background: url("../Content/assets/img/location-banner.jpg") top;
    background-size: cover;
    padding-bottom: 20%;
    position: fixed;
}



#inner-index-login input[type="text"], #inner-index-login input[type="password"] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    max-width: 305px;
}

    #inner-index-login h2 {
        padding: 1em;
        text-align: center;
    }

    #inner-index-login label.control-label {
        display: block;
        position: relative;
        font-size: 15px;
        font-weight: 600;
        font-family: "Open Sans", sans-serif;
    }

    #inner-index-login label[for="email"] {
        text-align: inherit;
    }

#inner-index-login input[type="checkbox"]{
    margin-top: 0;
}

label[for="RememberMe"] {
    padding-left: 0;
}

#inner-index-login a.btn-success {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}

#inner-index-login .btn{
    margin: 0.5em;
}
