body {
    padding-top: 0px;
    padding-bottom: 0px;
}

h2 {
    font-size: 26px;
    font-weight: 700
}

.breadcrumbs {
    margin-top: 40px !important;
}
    .breadcrumbs h2 {
        font-size: 26px;
        font-weight: 400;
        margin: 0;
    }



.customMain p, .customMain option, .customMain select, .customMain input, a.btn-primary {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0;
}

.customMain label {
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 15px;
}

.panel-body {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.panel-heading {
    font-weight: 300;
    margin-bottom: 15px;
    font-size: 24px;
    padding: 11px 15px 10px 15px;
}

div.boardCrud {
    float: right;
    font-weight: 200;
    font-size: 16px;
    padding-top: inherit;
}

div.panel-heading a {
    color: white !important;
}

    div.panel-heading a:hover {
        text-decoration: underline;
    }

a.active {
    color: #106eea !important;
}

#search-bar {
    width: -webkit-fill-available;
    max-width: 490px;
    font-size: 1.5em;
    margin: 0;
}

/*To get the button and search bar on the job board to be horizontal*/
.search-container {
    display: flex;
}

.bottom-link {
    padding-bottom: 20px;
}

div.portfolio-description h2{
    margin-bottom: 10px;
}
h5.card-title {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
}
p.card-text {
    margin-bottom: .75rem;
    font-size: 13px;
    
}

.card.text-center{
    min-height: 273px;
}

select.form-control, input.form-control {
    margin: 5px 0;
}

textarea.form-control {
    padding-bottom: 75px;
}


/*UserDetails - Details*/
li.list-group-item{
    border-bottom-width: 2px !important;
}

.openOpps {
    color: #106eea;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
}

.employeeDetails{
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
}

iframe{
    padding-left: 35px;
}